
<div class="oj-hybrid-padding module-content-container">
  <div class="flex-bar">
    <h1 style="padding-right: 10px;">Academic Guidance</h1> 
                      <img slot="startIcon"
                          src="css/images/coursework.png"
                          alt="bulleted list image"
                          width="30" height="30"/>
  </div>
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

      <div id="tabbarcontainer">
          <oj-tab-bar
                  on-oj-before-current-item='[[tabChangeHandler]]'
                  display="all"
                  edge="top"
                  selection="{{selectedItem}}">
              <ul>
                  <li id="courseWorkList">
                      <a href="#">
                          Coursework
                      </a>
                  </li>
                  <li id="hotSkillsList">
                      <a href="#">
                          Hot Skills
                      </a>
                  </li>
              </ul>

              <!-- ko if: currentTab() === "courseWorkList" && !questionPosted() -->
              <div id="coursework">

                  <div id="accomodationContentContainer" class="flex-bar accomodation-content-container">
                      <div class="demo-padding accomodation-dashboard-container oj-flex-bar-start flex-column grow align-stretch">
                          <div style="max-width: 50%; margin-left: 20%;">
                              <academicpostquestion class="flex-column flex-column overflow-hidden grow" ></academicpostquestion>
                          </div>
                          <div id="iframe" style="" class="demo-padding flex-column grow align-stretch">
                          <iframe frameborder="0" height="1000" width="100%" scrolling="yes" src="https://public.tableau.com/shared/2BFTH77QT?:display_count=yes&:origin=viz_share_link:embed=yes&:showVizHome=no">
                          </iframe>
                          </div>
                      </div>

                      <div id="contents" style="width:32%; max-width: 32%;" class="demo-padding demo-container flex-column  grow align-stretch">
                        <academicdrilldownlist class="flex-column grow" ></academicdrilldownlist>
                      </div>
                    </div>
              </div>
              <!-- /ko -->

              <!-- ko if: currentTab() === "courseWorkList" && questionPosted() -->

              <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                  <h2 data-bind="text: postedQuestionText"></h2>

                  <div class="oj-flex-bar">
                      <h4 class="oj-flex-bar-start"> Related Questions...</h4>
                      <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                          Back
                      </oj-button>

                  </div>
                  <div id="listviewContainer" class="demo-container">
                      <academicdrilldownlist class="flex-column flex-column overflow-hidden grow" ></academicdrilldownlist>
                  </div>
              </div>


              <!-- /ko -->


              <!-- ko if: currentTab() === "hotSkillsList" && !questionPosted() -->
              <div id="hotskills">
                  <div id="accomodationContentContainer" class="flex-bar" style="padding-top: 50px;">
                      <div class="demo-padding accomodation-dashboard-container flex-column grow align-stretch">
                          <div style="max-width: 50%; margin-left: 20%;">
                              <academicpostquestion class="flex-column flex-column overflow-hidden grow" ></academicpostquestion>
                          </div>
                          <div id="iframe" style="" class="demo-padding flex-column grow align-stretch">
                             <iframe frameborder="0" height="1000" width="100%" scrolling="yes" src="https://public.tableau.com/shared/SYQG8P8Y3?:display_count=yes&:origin=viz_share_link:embed=yes&:showVizHome=no">
                          </iframe>
                          </div>
                      </div>

                      <div id="contents" style="width:29%; max-width: 29%;" class="demo-padding demo-container flex-column  grow align-stretch">

                          <div id="listviewContainer" class="demo-container">
                              <academicdrilldownlist class="flex-column flex-column overflow-hidden grow" ></academicdrilldownlist>

                          </div>

                      </div>

                  </div>
              </div>
              <!-- /ko -->

              <!-- ko if: currentTab() === "hotSkillsList" && questionPosted() -->
              <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                  <h2 data-bind="text: postedQuestionText"></h2>

                  <div class="oj-flex-bar">
                      <h4 class="oj-flex-bar-start"> Related Questions...</h4>
                      <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                          Back
                      </oj-button>

                  </div>

                  <div id="listviewContainer" class="demo-container">
                      <academicdrilldownlist class="flex-column flex-column overflow-hidden grow" ></academicdrilldownlist>
                  </div>
              </div>

              <!-- /ko -->
          </oj-tab-bar>
      </div>

  </div>
</div>
