
<div class="oj-hybrid-padding module-content-container">
  <h1>Incidents Content Area</h1>
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id="div1">
        
          <oj-label for="text-area">Post your question</oj-label><br/>
          <oj-text-area id="text-area" value="{{value}}">
          </oj-text-area>
        
          <br/><br/>
        
         </div>
         <div id='buttons-container'>
            <oj-button id='button1' on-oj-action='[[buttonClick]]'>Submit</oj-button>
            
        </div>
     </div>
 </div>
