  <div class="oj-hybrid-padding module-content-container flex-container">
    <div class="flex-bar">
    <h1 style="padding-right: 10px;">Accommodation</h1>
        <img slot="startIcon"
                          src="css/images/house.png"
                          alt="bulleted list image"
                          width="30" height="30"/>

    </div>
    <div id="accomodationContentContainer" class="flex-bar accomodation-content-container">
     <iframe frameborder="0" height="1000" width="100%" scrolling="yes" src="https://public.tableau.com/views/AccomodationNearSCU/Dashboard1?:embed=y&:display_count=yes&:origin=viz_share_link:embed=yes&:showVizHome=no">
     </iframe>
      <div id="contents" style="width:32%; max-width: 32%;" class="demo-padding demo-container flex-column  grow align-stretch">
        <oj-button id="iconButton" on-oj-action='[[postButtonClick]]'>
            <span slot='startIcon' class="oj-icon icon-dummy">
          </span>
            POST A NEW LISTING
        </oj-button>
        <oj-dialog style="display:none;width:400px;height:600px;min-width:440px;max-width:450px;" id="modalDialog1" dialog-title="Post a new listing">
              <div slot="body">
                <div class='oj-flex-bar'>
                     <div class='oj-flex-bar-start'>
                        <oj-label id="mainlabelid"
                           class="oj-label-inline">Accommodation Type:</oj-label>
                     </div>
                     <div class='oj-flex-bar-middle'>
                        <oj-radioset labelled-by="mainlabelid" class="oj-choice-direction-row" value="{{type}}">
                           <oj-option id="looking" value="LOOKING">Looking</oj-option>
                           <oj-option id="renting" value="RENTING">Renting</oj-option>
                        </oj-radioset>
                     </div>
                  </div>
                  <div>
                    <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Description" value="{{description}}">                 
                    </oj-text-area>
                  </div>
                  <div id="postForm" style="width: 1px; min-width: 100%;">
                    <div class="oj-form" >
                              <oj-input-text id="address" placeholder="Address" value="{{address}}" style="width:100%; max-width:100%;"></oj-input-text>
                              <oj-input-text id="city" placeholder="City" value="{{city}}" style="max-width:49%"></oj-input-text>
                              <oj-input-text id="state" placeholder="State" value="{{state}}" style="max-width:49%"></oj-input-text>
                              <oj-input-text id="zip" placeholder="Zip" value="{{zip}}" style="max-width:49%"></oj-input-text>
                              <oj-label for="beds">Beds:</oj-label> 
                              <oj-input-number id="beds"
                                    max= "5"
                                    min= "0"
                                    step= "1" 
                                    value="{{bed}}">
                              </oj-input-number>
                              <oj-label for="baths">Baths:</oj-label> 
                              <oj-input-number id="baths"
                                    max= "5"
                                    min= "1"
                                    step= "1" 
                                    value="{{bath}}">
                              </oj-input-number>
                              <oj-label for="occupancy">Occupancy:</oj-label> 
                              <oj-select-one id="conditionSelect" required="true"
                                           placeholder="Occupancy" value="{{occupancy}}" 
                                           style="max-width:15em">
                                <oj-option value="SINGLE">Single</oj-option>
                                <oj-option value="SHARED">Shared</oj-option>
                            </oj-select-one>
                              <oj-label for="price" class="oj-label-inline">$</oj-label>
                              <oj-input-text id="price" placeholder="Price" value="{{price}}" style="max-width:30%"></oj-input-text>
                              <oj-label for="conditionSelect">Apartment Type:</oj-label> 
                              <oj-select-one id="conditionSelect" required="true"
                                           placeholder="Apartment Type" value="{{apartment_type}}" 
                                           style="max-width:20em">
                                <oj-option value="APARTMENT">Apartment</oj-option>
                                <oj-option value="STUDIO">Studio</oj-option>
                                <oj-option value="TOWNHOME">Townhome</oj-option>
                                <oj-option value="CONDO">Condo</oj-option>
                            </oj-select-one>
                    </div>
                  </div>
              </div>
                <div slot="footer">
                    <oj-button id="postButton" on-oj-action="[[savePost]]">POST
                    </oj-button>
                    <oj-button id="closePostButton" on-oj-action="[[closePostDialog]]">CANCEL
                    </oj-button>
                </div>
            </oj-dialog>


          <div id="page1" class="demo-page">
            <h4 data-bind="text: 'Accommodation Posts:'"></h4>
            <oj-list-view id="listview" aria-label="drill down list"
                    data="[[dataProvider]]" on-selection-changed="[[gotoContent]]" selection-mode="single">
                    <template slot="itemTemplate">
                      <div class="oj-flex-bar">
                      <div class="oj-flex-bar-start" style="max-width:70px;margin:auto;">
                          <img data-bind="attr: {src: 'css/images/home.png', alt: $current.data.description}" style="width: 55px;height: 55px;max-width: 55px;max-height: 55px;" />
                      </div>
                      <div class="oj-flex-bar-middle" style="width:75%; padding-left: 10px;">
                          <div class="oj-lg-10 oj-md-10 oj-sm-12">
                            <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data color-brown"><oj-bind-text value="[[$current.data.full_name]]"></oj-bind-text></span>
                                  </div>
                              </div>
                              <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>Type: </b><span><oj-bind-text value="[[$current.data.type]]"></oj-bind-text></span></span>
                                  </div>
                              </div>
                              <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>Beds: </b><span><oj-bind-text value="[[$current.data.bed]]"></oj-bind-text></span></span>
                                  </div>
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>Baths: </b><span><oj-bind-text value="[[$current.data.bath]]"></oj-bind-text></span></span>
                                  </div>
                              </div>
                              <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>City: </b><span><oj-bind-text value="[[$current.data.city]]"> </oj-bind-text></span></span>
                                  </div>
                              </div>
                              <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>Occupancy: </b><span><oj-bind-text value="[[$current.data.occupancy]]"></oj-bind-text></span></span>
                                  </div>
                              </div>
                              <div class="oj-flex row">
                                  <div class="oj-lg-4 oj-md-4 oj-sm-12">
                                      <span class="data"><b>Price: $ </b><span><oj-bind-text value="[[$current.data.price]]"> </oj-bind-text></span></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="oj-flex-bar-end oj-sm-align-items-center">
                        <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon">
                        </div>
                      </div>
                    </div>
                  </template>
                </oj-list-view>
              </div>

              <div id="page2" class="demo-page demo-page2-hide">
    <oj-button id="backButton" on-oj-action="[[gotoOuterList]]">
        <span slot="startIcon" class="oj-fwk-icon-caret-start oj-fwk-icon"></span>
        Back
    </oj-button>
    <div class="oj-panel demo-panel">
        <p data-bind="text: currentAccomodation" class="oj-text-secondary-color" style="white-space: normal;">
        </p>
        <oj-list-view id="listview" aria-label="list using observable array"
                      data="[[internalListDataProvider]]" selection-mode="single" selection="{{selectedItems}}">
                      <template slot="itemTemplate">
                        <div class="container oj-flex-bar">
                          <div class="flex-column oj-flex-bar-middle">
                            <div>
                              <span class="oj-flex-item">
                                <oj-bind-text value="[[$current.data.full_name]]"></oj-bind-text>
                              </span>
                            </div>
                            <div>
                              <span class="oj-text-xs oj-text-secondary-color">
                                <oj-bind-text value="[[$current.data.response_description]]"></oj-bind-text>
                              </span>
                            </div>
                          </div>
                        </div>
                      </template>
        </oj-list-view>
        <div class="flex-column" style="padding-top:20px;">
            <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Reply" value="{{replyText}}">                 
            </oj-text-area>
            <oj-button class='oj-button-sm oj-flex-bar-end' id="buttonIcon2" on-oj-action="[[replyToPost]]">
                Reply
            </oj-button>
        </div>
      </div>
    </div>

     </div>
  </div>
  </div>