<div class="oj-hybrid-padding module-content-container flex-container">
    <div class="flex-bar">
        <h1 style="padding-right: 10px;">Buy/Sell</h1>
                  <img slot="startIcon"
                          src="css/images/market.png"
                          alt="bulleted list image"
                          width="30" height="36"/></div>
    <div id="accomodationContentContainer" class="flex-bar accomodation-content-container">

        <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
            <div class="oj-flex-bar">
                <oj-button on-oj-action='[[postButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 200px; max-width: 200px;" chroming='full'>
                    Post
                </oj-button>
            </div>

            <oj-dialog style="display:none; width:40vw; height:60vh;" id="modalDialog1" dialog-title="Post a new listing"
                       position='{"my": {"vertical":"center", "horizontal": "center"},
                                "at": {"vertical": "center", "horizontal": "center"},
                                "offset" : {"x" : "20"},
                                "of": "window"}'>
                <div slot="body">
                    <div class='oj-flex-bar'>
                        <div class='oj-flex-bar-start'>
                            <oj-label id="mainlabelid"
                                      class="oj-label-inline">Post Type</oj-label>
                        </div>
                        <div class='oj-flex-bar-middle'>
                            <!-- You need to set the labelled-by attribute to make
                            this accessible. -->
                            <oj-radioset labelled-by="mainlabelid" class="oj-choice-direction-row" value="{{type}}">
                                <oj-option id="buy" value="BUYING">Buy</oj-option>
                                <oj-option id="sell" value="SELLING">Sell</oj-option>
                            </oj-radioset>
                        </div>
                    </div>
                    <div>
                        <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Title" value="{{postTitle}}">
                        </oj-text-area>
                    </div>
                    <div>
                        <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Description" value="{{postDescription}}">
                        </oj-text-area>
                    </div>
                    <div id="postForm" style="width: 1px; min-width: 100%;">
                        <div class="oj-form" >

                            <oj-input-text id="address" placeholder="Address" value="{{address}}" style="max-width:49%"></oj-input-text>
                            <oj-input-text id="city" placeholder="City" value="{{postCity}}" style="max-width:49%"></oj-input-text>
                            <oj-input-text id="state" placeholder="State" value="{{postState}}" style="max-width:49%"></oj-input-text>
                            <oj-input-text id="zipcode" placeholder="Zipcode" value="{{postZip}}" style="max-width:49%"></oj-input-text>


                            <oj-label for="price" class="oj-label-inline">$</oj-label>
                            <oj-input-text id="price" placeholder="Price" value="{{postPrice}}" style="max-width:30%"></oj-input-text>

                            <oj-select-one id="conditionSelect" required="true"
                                           placeholder="Condition" value="{{condition}}" 
                                           style="max-width:20em">
                                <oj-option value="FAIR">Fair</oj-option>
                                <oj-option value="NEW">New</oj-option>
                                <oj-option value="EXCELLENT">Excellent</oj-option>
                                <oj-option value="GOOD">Good</oj-option>
                                <oj-option value="LIKE NEW">Like New</oj-option>
                            </oj-select-one>
                            <oj-select-one id="status" required="true"
                                           placeholder="Status" value="{{status}}" 
                                           style="max-width:20em">
                                <oj-option value="SOLD">Sold</oj-option>
                                <oj-option value="NOT SOLD">Not Sold</oj-option>
                            </oj-select-one>
                            <oj-select-one id="category" required="true"
                                           placeholder="Category" value="{{category}}" 
                                           style="max-width:20em">
                                <oj-option value="FURNITURE">Furniture</oj-option>
                                <oj-option value="ELECTRONICS & COMPUTER">Electronics & Computer</oj-option>
                                <oj-option value="HOUSEHOLD">Household</oj-option>
                                <oj-option value="BOOKS">Books</oj-option>
                                <oj-option value="MISCELLANEOUS">Miscellaneous</oj-option>
                            </oj-select-one>
                        </div>
                    </div>
                </div>
                <div slot="footer">
                    <oj-button id="postButton" on-oj-action="[[savePost]]">POST
                    </oj-button>
                    <oj-button id="closePostButton" on-oj-action="[[closePostDialog]]">CANCEL
                    </oj-button>
                </div>
            </oj-dialog>

                <div id="listviewContainer" class="demo-container">
                    <marketdrilldownlist class="flex-column flex-column overflow-hidden grow" ></marketdrilldownlist>

                </div>
        </div>
    </div>
</div>