
<div class="oj-hybrid-padding module-content-container">
    <h1>
        <img slot="startIcon"
                          src="css/images/foodnightlife.jpeg"
                          alt="bulleted list image"
                          width="26" height="26"/>

    Food & Nightlife</h1>
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

        <!-- ko if: !questionPosted() -->
        <div id="coursework">

            <div id="accomodationContentContainer" class="flex-bar" style="padding-top: 50px;">
                <div class="demo-padding accomodation-dashboard-container flex-column grow align-stretch">
                    <div style="max-width: 50%; margin-left: 20%;">
                        <foodnightpostquestion class="flex-column flex-column overflow-hidden grow" ></foodnightpostquestion>
                    </div>
                    <div id="iframe" style="" class="demo-padding flex-column grow align-stretch">
                        <iframe frameborder="0" src="http://yourserver/zoomdata/visualization/0987654321?__target=embedded&key=1234567890" style="overflow: hidden; height: 100%; width: 100%">

                        </iframe>
                    </div>
                </div>

                <div id="contents" style="width:29%; max-width: 29%;" class="demo-padding demo-container flex-column  grow align-stretch">

                    <div id="listviewContainer" class="demo-container">
                        <foodnightdrilldownlist class="flex-column flex-column overflow-hidden grow" ></foodnightdrilldownlist>
                    </div>

                </div>

            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: questionPosted() -->

        <div id="contents" style="width:29%; max-width: 29%;" class="demo-padding demo-container flex-column  grow align-stretch">
            <h2 data-bind="text: postedQuestionText"></h2>

            <div class="oj-flex-bar">
                <h4 class="oj-flex-bar-start"> Related Questions...</h4>
                <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                    Back
                </oj-button>

            </div>
            <div id="listviewContainer" class="demo-container">
                <foodnightdrilldownlist class="flex-column flex-column overflow-hidden grow" ></foodnightdrilldownlist>
            </div>
        </div>


        <!-- /ko -->


    </div>
</div>
