<div class="oj-hybrid-padding home-module-content-container">
   <h1 style ="
    font-size: -webkit-xxx-large;
    color: brown;">Have a Question?</h1>
      <oj-button id="foodnight" on-oj-action='[[iconButtonClick]]'>
                    <img slot="startIcon"
                          src="css/images/food.png"
                          alt="bulleted list image"
                          width="16" height="16"/>
                    Food & Nightlife
       </oj-button>
             <oj-button id="academic" on-oj-action='[[iconButtonClick]]'>
                    <img slot="startIcon"
                          src="css/images/coursework.png"
                          alt="bulleted list image"
                          width="16" height="16"/>
                    Academic
       </oj-button>
       <oj-button id="jobs" on-oj-action='[[iconButtonClick]]'>
                   <img slot="startIcon"
                          src="css/images/jobss.png"
                          alt="bulleted list image"
                          width="16" height="16"/>
                    On Campus Jobs
       </oj-button>

       <oj-button id="jobs" on-oj-action='[[chatButtonClick]]'>
                   <img slot="startIcon"
                          src="css/images/jobss.png"
                          alt="bulleted list image"
                          width="16" height="16"/>
                    CHAT
       </oj-button>


  <h1>About SCU</h1>
   <div id="sampleDemo" style="" class="demo-padding demo-container" >
      <div id="content-2420" style="width: 100%; max-width: 100%;">                                                       
      	<div class="lead" style="width: 100%; max-width: 100%;">
      		<p style="width: 100%; max-width: 100%;">Located in the heart of <a title="Home » Home » About SCU » Our Campus » Silicon Valley" href="/aboutscu/our-campus/silicon-valley/">Silicon Valley</a>, Santa Clara University blends high-tech innovation with a social consciousness grounded in the <a title="Home » Home » About SCU » Jesuit Catholic Tradition" href="/aboutscu/jesuit-catholic-tradition/">Jesuit educational tradition</a>.
      		</p>
      	</div>
      	<p style="width: 100%; max-width: 100%;">We are committed to leaving the world a better place. We <a title="Home » Home » School of Engineering » Labs &amp; Research » Labs » Center for Nanostructures" href="/engineering/labs--research/labs/center-for-nanostructures/">pursue new technology</a>, <a title="Home » Home » Office of the Provost » Research » Student Funding Opportunities" href="/provost/research/student-funding-opportunities/">encourage creativity</a>, <a title="Home » Home » About SCU » Community Outreach" href="/aboutscu/outreach/">engage with our communities</a>, and share an <a href="http://www.scu-social-entrepreneurship.org/">entrepreneurial mindset</a>. Our goal is to help shape the next generation of leaders and global thinkers.
      	</p>
      	<p style="width: 100%; max-width: 100%;">Santa Clara's&nbsp;<a title="Home » Home » Academics » Undergraduate Programs" href="/academics/undergraduate-programs/">undergraduate</a>&nbsp;and <a title="Home » Home » Academics » Graduate Programs" href="/academics/graduate-programs/">graduate programs</a>&nbsp;span areas ranging from psychology to sustainable-energy engineering and from theatre arts to business analytics.
      	</p>
      </div>
      <div class="news module">
        <ul class="media-list pagedrows-404722"><!--1--><!--showfull:-->
          <li class="media">
            <div class="media-left">
              <a href="https://www.scu.edu/news-and-events/press-releases/2018/september-2018/us-news--world-report-ranks-santa-clara-university-no-1-in-the-western-region.html" class="thumbnail">
                <img src="css/images/missionview760x480.jpg" alt="View of Mission with Fountain in foreground" width="760" height="480" style=" " class="img-fluid">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="https://www.scu.edu/news-and-events/press-releases/2018/september-2018/us-news--world-report-ranks-santa-clara-university-no-1-in-the-western-region.html"><em>U.S. News &amp; World Report</em> Ranks Santa Clara University No. 1 in the West</a>
              </h4>
              <p>Santa Clara University was named the top-ranked regional university in the western United States in the 2019 <em>U.S. News &amp; World Report Best Colleges</em> rankings. The University earned a perfect overall score of 100 out of 100.
              </p>
            </div>
          </li><!--1--><!--showfull:-->
          <li class="media">
            <div class="media-left">
              <a href="/news-and-events/feature-stories/2018/stories/eight-for-eight.html" class="thumbnail">
                <img src="css/images/Fulbright-Top-Producer-Badge760x480.png" alt="Fulbright Top Producer badge" width="760" height="480" style=" " class="img-fluid">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="/news-and-events/feature-stories/2018/stories/eight-for-eight.html">Eight For Eight</a>
              </h4>
              <h5>SCU “Sweeps” With a Record Eight Fulbrights</h5>
              <p>A record eight Broncos were winners of Fulbright scholarships this year–putting SCU on track to be a “top producing” school for the fifth time in six years. 
              </p>
            </div>
          </li>
          <script>console.log('RE-LOADED STORIES FROM T4: ');</script>
        </ul>
      </div>
    </div>
</div>