
<div class="oj-hybrid-padding module-content-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

        <div id="tabbarcontainer">
            <oj-tab-bar
                    on-oj-before-current-item='[[tabChangeHandler]]'
                    display="all"
                    edge="top"
                    selection="{{selectedItem}}">
                <ul>
                    <li id="onCampus">
                        <a href="#">
                            On Campus
                        </a>
                    </li>
                    <li id="industry">
                        <a href="#">
                            Industry
                        </a>
                    </li>
                </ul>

                <!-- ko if: currentTab() === "onCampus" && !questionPosted() -->
                <div id="coursework">

                    <div id="accomodationContentContainer" class="flex-bar" style="padding-top: 50px;">
                        <div class="demo-padding flex-column grow align-stretch">
                            <div style="max-width: 50%; margin-left: 20%;">
                                <jobspostquestion class="flex-column flex-column overflow-hidden grow" ></jobspostquestion>
                            </div>
                            <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">

                                <div id="listviewContainer" class="demo-container">
                                    <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: currentTab() === "onCampus" && questionPosted() -->

                <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                    <h2 data-bind="text: postedQuestionText"></h2>

                    <div class="oj-flex-bar">
                        <h4 class="oj-flex-bar-start"> Related Questions...</h4>
                        <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                            Back
                        </oj-button>

                    </div>
                    <div id="listviewContainer" class="demo-container">
                        <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
                    </div>
                </div>


                <!-- /ko -->


                <!-- ko if: currentTab() === "industry" -->
                <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                    <div class="oj-flex-bar">
                        <oj-button on-oj-action='[[postButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 200px; max-width: 200px;" chroming='full'>
                            Post
                        </oj-button>
                    </div>

                    <oj-dialog style="display:none; width:40vw; height:60vh;" id="modalDialog1" dialog-title="Post a new listing"
                               position='{"my": {"vertical":"center", "horizontal": "center"},
                                "at": {"vertical": "center", "horizontal": "center"},
                                "offset" : {"x" : "20"},
                                "of": "window"}'>
                        <div slot="body">
                            <div class='oj-flex-bar'>
                                <div class='oj-flex-bar-start'>
                                    <oj-label id="mainlabelid"
                                              class="oj-label-inline">Post Type</oj-label>
                                </div>
                                <div class='oj-flex-bar-middle'>
                                    <!-- You need to set the labelled-by attribute to make
                                    this accessible. -->
                                    <oj-radioset labelled-by="mainlabelid" class="oj-choice-direction-row">
                                        <oj-option id="buy" value="rock">Buy</oj-option>
                                        <oj-option id="sell" value="boarding">Sell</oj-option>
                                    </oj-radioset>
                                </div>
                            </div>
                            <div>
                                <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Title" value="{{postTitle}}">
                                </oj-text-area>
                            </div>
                            <div>
                                <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Description" value="{{postDescription}}">
                                </oj-text-area>
                            </div>
                            <div id="postForm" style="width: 1px; min-width: 100%;">
                                <div class="oj-form" >

                                    <oj-input-text id="location" placeholder="Address" value="{{postLocation}}" style="max-width:49%"></oj-input-text>
                                    <oj-input-text id="city" placeholder="City" value="{{postCity}}" style="max-width:49%"></oj-input-text>
                                    <oj-input-text id="state" placeholder="State" value="{{postState}}" style="max-width:49%"></oj-input-text>
                                    <oj-input-text id="zipcode" placeholder="Zipcode" value="{{postZip}}" style="max-width:49%"></oj-input-text>


                                    <oj-label for="price" class="oj-label-inline">$</oj-label>
                                    <oj-input-text id="price" placeholder="Price" value="{{postPrice}}" style="max-width:30%"></oj-input-text>
                                    <oj-select-one id="conditionSelect" required="true"
                                                   placeholder="Condition"
                                                   style="max-width:20em">
                                        <oj-option value="FAIR">Fair</oj-option>
                                        <oj-option value="NEW">New</oj-option>
                                        <oj-option value="EXCELLENT">Excellent</oj-option>
                                        <oj-option value="GOOD">Good</oj-option>
                                        <oj-option value="LIKE NEW">Like New</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>
                        </div>
                        <div slot="footer">
                            <oj-button id="postButton" on-oj-action="[[closePostDialog]]">POST
                            </oj-button>
                            <oj-button id="closePostButton" on-oj-action="[[closePostDialog]]">CANCEL
                            </oj-button>
                        </div>
                    </oj-dialog>

                    <div id="listviewContainer" class="demo-container">
                        <oj-list-view id="listview" aria-label="list using observable array"
                                      data="[[industryJobsDataProvider]]" selection-mode="single" selection="{{selectedIndustryJobItems}}">
                            <template slot="itemTemplate" data-oj-as="item">
                                <span>
                                    <oj-bind-text value='[[item.data.item]]'></oj-bind-text>
                                </span>
                            </template>
                        </oj-list-view>
                    </div>
                </div>
                <!-- /ko -->

            </oj-tab-bar>
        </div>

    </div>
</div>
