<div class="oj-hybrid-padding module-content-container">
   <h1>
   Job Opportunities
<img slot="startIcon"
                          src="css/images/jobss.png"
                          alt="bulleted list image"
                          width="30" height="30"/></h1>
<div id="componentDemoContent" style="width: 1px; min-width: 100%;">
   <div id="tabbarcontainer">
      <oj-tab-bar
         on-oj-before-current-item='[[tabChangeHandler]]'
         display="all"
         edge="top"
         selection="{{selectedItem}}">
         <ul>
            <li id="onCampus">
               <a href="#">
               On Campus
               </a>
            </li>
            <li id="industry">
               <a href="#">
               Industry
               </a>
            </li>
         </ul>
         <!-- ko if: currentTab() === "onCampus" && !questionPosted() -->
         <div id="coursework">
            <div id="accomodationContentContainer" class="flex-bar accomodation-content-container">
               <div class="demo-padding flex-column grow align-stretch">
                  <div class="oj-flex-bar" style="width: 100%; max-width: 90%;">
                     <jobspostquestion style="max-width: 30%; margin-left: 30%;" class="oj-flex-bar-middle flex-column" ></jobspostquestion>
                     <div onclick="window.open('https://www.scu.edu/hr/student-employees/job-listings/', '_blank');" class="oj-flex-bar-end" style="cursor: pointer;">
                        <img slot="startIcon"
                          src="css/images/scu1.png"
                          alt="bulleted list image"
                          width="40" height="40"/>
                          <h4 style="padding-left: 10px;">SCU JOBS</h4>
                     </div>
                  </div>
                  <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                     <div id="listviewContainer" class="demo-container">
                        <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /ko -->
         <!-- ko if: currentTab() === "onCampus" && questionPosted() -->
         <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
            <h2 data-bind="text: postedQuestionText"></h2>
            <div class="oj-flex-bar">
               <h4 class="oj-flex-bar-start"> Related Questions...</h4>
               <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                  Back
               </oj-button>
            </div>
            <div id="listviewContainer" class="demo-container">
               <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
            </div>
         </div>
         <!-- /ko -->
         <div data-bind="visible : currentTab() === 'industry'" id="contents" style="width: 99%; max-width: 99%;" 
         class="demo-padding demo-container flex-column  grow align-stretch">
            <div class="oj-flex-bar">
               <oj-button on-oj-action='[[postButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 200px; max-width: 200px;" chroming='full'>
                  Post
               </oj-button>
            </div>
            <oj-dialog style="display:none; width:40vw; height:60vh;" id="modalDialog1" dialog-title="Post a new listing"
               position='{"my": {"vertical":"center", "horizontal": "center"},
               "at": {"vertical": "center", "horizontal": "center"},
               "offset" : {"x" : "20"},
               "of": "window"}'>
               <div slot="body">
                  <div class='oj-flex-bar'>
                     <div class='oj-flex-bar-start'>
                        <oj-label id="mainlabelid"
                           class="oj-label-inline">Job Category</oj-label>
                     </div>
                     <div class='oj-flex-bar-middle'>
                        <oj-radioset labelled-by="mainlabelid" class="oj-choice-direction-row" value="{{jobCategory}}">
                           <oj-option id="fulltime" value="FULL TIME">Full Time</oj-option>
                           <oj-option id="intern" value="INTERNSHIP">Internship</oj-option>
                           <oj-option id="parttime" value="PART TIME">Part Time</oj-option>
                        </oj-radioset>
                     </div>
                  </div>
                  <div id="postForm" style="width: 1px; min-width: 100%;">
                     <div class="oj-form" >
                        <oj-input-text id="company_name" placeholder="Company Name" value="{{companyName}}" style="max-width:49%"></oj-input-text>
                        <oj-input-text id="position" placeholder="Title" value="{{position}}" style="max-width:49%"></oj-input-text>
                        <oj-text-area style="max-width:100%;" id="text-area" placeholder="Job Description" value="{{jobDescription}}">
                        </oj-text-area>
                        <oj-input-text id="location" placeholder="Location" value="{{location}}" style="max-width:49%"></oj-input-text>
                        <oj-input-text id="experience" placeholder="Experience Required" value="{{experience}}" style="max-width:49%"></oj-input-text>
                     </div>
                  </div>
               </div>
               <div slot="footer">
                  <oj-button id="postButton" on-oj-action="[[savePost]]">POST
                  </oj-button>
                  <oj-button id="closePostButton" on-oj-action="[[closePostDialog]]">CANCEL
                  </oj-button>
               </div>
            </oj-dialog>
            <h4 data-bind="text: 'Industry Job Posts:'"></h4>
            <div id="listviewContainer" class="demo-container">
               <oj-list-view id="listview" aria-label="drill down list"
                  data="[[industryJobsDataProvider]]" selection-mode="single" on-current-item-changed="[[handleCurrentItemChanged]]" >
                  <template slot="itemTemplate">
                     <div class="container oj-flex-bar">
                        <div class="flex-column oj-flex-bar-middle">
                           <div>
                              <span class="oj-flex-item">
                                 <oj-bind-text value="[[$current.data.company_name]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-flex-item">
                                 <oj-bind-text value="[[$current.data.position]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Job Type : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.category]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Job Description : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.job_description]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Location : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.location]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Minimum Years of Experience : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.experience]]"></oj-bind-text>
                              </span>
                           </div>
                        </div>
                        <div class="oj-flex-bar-end">
                           <oj-button on-oj-action='[[referralButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 150px; max-width: 150px;" chroming='full'>
                              Ask For Referral
                           </oj-button>
                        </div>
                  </template>
               </oj-list-view>
            </div>
      </oj-tab-bar>
      </div>
   </div>
</div>

<oj-dialog style="display:none; width:40vw; height:60vh;" id="referralDialog" dialog-title="Ask For Referral"
                              position='{"my": {"vertical":"center", "horizontal": "center"},
                              "at": {"vertical": "center", "horizontal": "center"},
                              "offset" : {"x" : "20"},
                              "of": "window"}'>
                              <div slot="body" id="componentReferralContent" style="width: 1px; min-width: 100%;">
                                 <div id="parentContainer" style="padding:10px">
                                    <h5>Message to Job Poster</h5>
                                    <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Message" value="{{referralMessage}}">
                                    </oj-text-area>
                                    <h5>Attach Resume</h5>
                                    <oj-file-picker on-oj-select='[[selectListener]]'>
                                       <div tabindex='0' slot='trigger'
                                          class='oj-filepicker-dropzone'>
                                          <p class='oj-filepicker-text'>Upload/Drop Your Resume</p>
                                       </div>
                                    </oj-file-picker>
                                    <p></p>
                                    <p></p>
                                    <div style="padding-top:8px"></div>
                                    <label for="selected">Selected files: </label>
                                    <span id="selected" data-bind="text: ko.toJSON(fileNames)"></span>
                                 </div>
                              </div>
                              <div slot="footer">
                                 <oj-button id="postButton" on-oj-action="[[saveReferral]]">SEND
                                 </oj-button>
                                 <oj-button id="closePostButton" on-oj-action="[[closeReferralDialog]]">CANCEL
                                 </oj-button>
                              </div>
                           </oj-dialog>