<div class="oj-hybrid-padding module-content-container">
   <h1>
   <img slot="startIcon"
                          src="css/images/jobss.png"
                          alt="bulleted list image"
                          width="30" height="26"/>
                       Job Opportunities</h1>
<div id="componentDemoContent" style="width: 1px; min-width: 100%;">
   <div id="tabbarcontainer">
      <oj-tab-bar
         on-oj-before-current-item='[[tabChangeHandler]]'
         display="all"
         edge="top"
         selection="{{selectedItem}}">
         <ul>
            <li id="onCampus">
               <a href="#">
               On Campus
               </a>
            </li>
            <li id="industry">
               <a href="#">
               Industry
               </a>
            </li>
         </ul>
         <!-- ko if: currentTab() === "onCampus" && !questionPosted() -->
         <div id="coursework">
            <div id="accomodationContentContainer" class="flex-bar" style="padding-top: 50px;">
               <div class="demo-padding flex-column grow align-stretch">
                  <div class="oj-flex-bar" style="max-width: 50%;">
                     <jobspostquestion class="oj-flex-bar-start flex-column flex-column overflow-hidden grow" ></jobspostquestion>
                     <h4>
                      SCU JOBS
                   <img slot="startIcon"
                          src="css/images/market.png"
                          alt="bulleted list image"
                          width="26" height="26"/>
                       </h4>
                  </div>
                  <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
                     <div id="listviewContainer" class="demo-container">
                        <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /ko -->
         <!-- ko if: currentTab() === "onCampus" && questionPosted() -->
         <div id="contents" style="" class="demo-padding demo-container flex-column  grow align-stretch">
            <h2 data-bind="text: postedQuestionText"></h2>
            <div class="oj-flex-bar">
               <h4 class="oj-flex-bar-start"> Related Questions...</h4>
               <oj-button id="iconButton" class="oj-flex-bar-end" on-oj-action='[[backToAllQuestionsList]]'>
                  Back
               </oj-button>
            </div>
            <div id="listviewContainer" class="demo-container">
               <jobsdrilldownlist class="flex-column flex-column overflow-hidden grow" ></jobsdrilldownlist>
            </div>
         </div>
         <!-- /ko -->
         <div data-bind="visible : currentTab() === 'industry'" id="contents" style="width: 99%; max-width: 99%;" 
         class="demo-padding demo-container flex-column  grow align-stretch">
            <div class="oj-flex-bar">
               <oj-button on-oj-action='[[postButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 200px; max-width: 200px;" chroming='full'>
                  Post
               </oj-button>
            </div>
            <oj-dialog style="display:none; width:40vw; height:60vh;" id="modalDialog1" dialog-title="Post a new listing"
               position='{"my": {"vertical":"center", "horizontal": "center"},
               "at": {"vertical": "center", "horizontal": "center"},
               "offset" : {"x" : "20"},
               "of": "window"}'>
               <div slot="body">
                  <div class='oj-flex-bar'>
                     <div class='oj-flex-bar-start'>
                        <oj-label id="mainlabelid"
                           class="oj-label-inline">Post Type</oj-label>
                     </div>
                     <div class='oj-flex-bar-middle'>
                        <oj-radioset labelled-by="mainlabelid" class="oj-choice-direction-row">
                           <oj-option id="buy" value="rock">Buy</oj-option>
                           <oj-option id="sell" value="boarding">Sell</oj-option>
                        </oj-radioset>
                     </div>
                  </div>
                  <div>
                     <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Title" value="{{postTitle}}">
                     </oj-text-area>
                  </div>
                  <div>
                     <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Description" value="{{postDescription}}">
                     </oj-text-area>
                  </div>
                  <div id="postForm" style="width: 1px; min-width: 100%;">
                     <div class="oj-form" >
                        <oj-input-text id="location" placeholder="Address" value="{{postLocation}}" style="max-width:49%"></oj-input-text>
                        <oj-input-text id="city" placeholder="City" value="{{postCity}}" style="max-width:49%"></oj-input-text>
                        <oj-input-text id="state" placeholder="State" value="{{postState}}" style="max-width:49%"></oj-input-text>
                        <oj-input-text id="zipcode" placeholder="Zipcode" value="{{postZip}}" style="max-width:49%"></oj-input-text>
                        <oj-label for="price" class="oj-label-inline">$</oj-label>
                        <oj-input-text id="price" placeholder="Price" value="{{postPrice}}" style="max-width:30%"></oj-input-text>
                        <oj-select-one id="conditionSelect" required="true"
                           placeholder="Condition"
                           style="max-width:20em">
                           <oj-option value="FAIR">Fair</oj-option>
                           <oj-option value="NEW">New</oj-option>
                           <oj-option value="EXCELLENT">Excellent</oj-option>
                           <oj-option value="GOOD">Good</oj-option>
                           <oj-option value="LIKE NEW">Like New</oj-option>
                        </oj-select-one>
                     </div>
                  </div>
               </div>
               <div slot="footer">
                  <oj-button id="postButton" on-oj-action="[[closePostDialog]]">POST
                  </oj-button>
                  <oj-button id="closePostButton" on-oj-action="[[closePostDialog]]">CANCEL
                  </oj-button>
               </div>
            </oj-dialog>
            <div id="listviewContainer" class="demo-container">
               <oj-list-view id="listview" aria-label="drill down list"
                  data="[[industryJobsDataProvider]]" selection-mode="single">
                  <template slot="itemTemplate">
                     <div class="container oj-flex-bar">
                        <div class="flex-column oj-flex-bar-middle">
                           <div>
                              <span class="oj-flex-item">
                                 <oj-bind-text value="[[$current.data.company_name]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-flex-item">
                                 <oj-bind-text value="[[$current.data.position]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Job Description : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.job_description]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Location : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.location]]"></oj-bind-text>
                              </span>
                           </div>
                           <div>
                              <span class="oj-text-xs">
                              Minimum Years of Experience : 
                              </span>
                              <span class="oj-text-xs oj-text-secondary-color">
                                 <oj-bind-text value="[[$current.data.experience]]"></oj-bind-text>
                              </span>
                           </div>
                        </div>
                        <div class="oj-flex-bar-end">
                           <oj-button on-oj-action='[[referralButtonClick]]' class='oj-button-sm oj-flex-bar-end' style="width: 150px; max-width: 150px;" chroming='full'>
                              Ask For Referral
                           </oj-button>
                        </div>
                  </template>
               </oj-list-view>
            </div>
      </oj-tab-bar>
      </div>
   </div>
</div>

<oj-dialog style="display:none; width:40vw; height:60vh;" id="referralDialog" dialog-title="Ask For Referral"
                              position='{"my": {"vertical":"center", "horizontal": "center"},
                              "at": {"vertical": "center", "horizontal": "center"},
                              "offset" : {"x" : "20"},
                              "of": "window"}'>
                              <div slot="body" id="componentReferralContent" style="width: 1px; min-width: 100%;">
                                 <div id="parentContainer" style="padding:10px">
                                    <h5>Message to Your Contact</h5>
                                    <oj-text-area style="max-width: 100%;" id="text-area" placeholder="Message" value="{{referralMessage}}">
                                    </oj-text-area>
                                    <h5>Attach Resume</h5>
                                    <oj-file-picker on-oj-select='[[selectListener]]'>
                                       <div tabindex='0' slot='trigger'
                                          class='oj-filepicker-dropzone'>
                                          <p class='oj-filepicker-text'>Upload/Drop Your Resume</p>
                                       </div>
                                    </oj-file-picker>
                                    <p></p>
                                    <p></p>
                                    <div style="padding-top:8px"></div>
                                    <label for="selected">Selected files: </label>
                                    <span id="selected" data-bind="text: ko.toJSON(fileNames)"></span>
                                 </div>
                              </div>
                              <div slot="footer">
                                 <oj-button id="postButton" on-oj-action="[[saveReferral]]">SEND
                                 </oj-button>
                                 <oj-button id="closePostButton" on-oj-action="[[closeReferralDialog]]">CANCEL
                                 </oj-button>
                              </div>
                           </oj-dialog>