

.flex-container {
    /*display: flex;*/
	box-sizing: border-box;
}

.flex-bar {
    display: flex;
    align-items: center;
    white-space: nowrap;
	box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
	box-sizing: border-box;
}

.flex-container.justify-start,
.flex-bar.justify-start,
.flex-column.justify-start {
    justify-content: flex-start;
}

.flex-container.justify-center,
.flex-bar.justify-center,
.flex-column.justify-center {
    justify-content: center;
}

.flex-container.justify-end,
.flex-bar.justify-end,
.flex-column.justify-end {
    justify-content: flex-end;
}

.flex-container.justify-space-between,
.flex-bar.justify-space-between,
.flex-column.justify-space-between {
    justify-content: space-between;
}

.flex-container.justify-space-around,
.flex-bar.justify-space-around,
.flex-column.justify-space-around {
    justify-content: space-around;
}

.flex-container.justify-space-evenly,
.flex-bar.justify-space-evenly,
.flex-column.justify-space-evenly {
    justify-content: space-evenly;
}


.flex-container.align-start,
.flex-bar.align-start,
.flex-column.align-start {
    align-items: flex-start;
}

.flex-container.align-end,
.flex-bar.align-end,
.flex-column.align-end {
    align-items: flex-end;
}

.flex-container.align-center,
.flex-bar.align-center,
.flex-column.align-center {
    align-items: center;
}

.flex-container.align-baseline,
.flex-bar.align-baseline,
.flex-column.align-baseline {
    align-items: baseline;
}

.flex-container.align-stretch,
.flex-bar.align-stretch,
.flex-column.align-stretch {
    align-items: stretch;
}


.flex-column > .align-self-start,
.flex-bar > .align-self-start,
.flex-item.align-self-start {
    align-self: flex-start;
}

.flex-column > .align-self-end,
.flex-bar > .align-self-end,
.flex-item.align-self-end {
    align-self: flex-end;
}

.flex-column > .align-self-center,
.flex-bar > .align-self-center,
.flex-item.align-self-center {
    align-self: center;
}

.flex-column > .align-self-baseline,
.flex-bar > .align-self-baseline,
.flex-item.align-self-baseline {
    align-self: baseline;
}

.flex-column > .align-self-stretch,
.flex-bar > .align-self-stretch,
.flex-item.align-self-stretch {
    align-self: stretch;
}


[dir=ltr] .flex-bar > .justify-self-end,
[dir=ltr] .flex-item.justify-self-end {
    margin-left: auto; /* push to right */
}

[dir=rtl] .flex-bar > .justify-self-end,
[dir=rtl] .flex-item.justify-self-end {
    margin-right: auto; /* push to left */
}

.flex-column > .justify-self-end,
.flex-item.justify-self-end {
    margin-top: auto; /* push to bottom */
}

.flex-bar > .grow,
.flex-column > .grow,
.flex-item.grow {
    flex-grow: 1;
}

.flex-bar > .noshrink,
.flex-column > .noshrink,
.flex-item.noshrink {
	flex-shrink: 0;
}

.flex-bar > .nogrow{
	flex-grow:0;
}

.scu-icon{
	content:url("images/scu1.png");
	font-size: 24px;
}

.hide-scroll{
	max-height: 100%;
	height: 100%;
	overflow-y: hidden;
}

.news.module .media-left {
    width: 38.125%;
    /* max-width: 178px; */
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 20px;
}

.news.module .media-left .thumbnail {
    width: 100%;
}

.module {
    width: 80%;
    margin: 1em 0 2em;
}

.news.module .media-list {
    padding-left: 0;
}	

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.news.module .media-left {
    width: 38.125%;
    /* max-width: 178px; */
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 20px;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.news.module .media-heading {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
}

.media:first-child {
    margin-top: 0;
}

.media {
    margin-top: 15px;
}

.module img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumbnail {
    display: block;
    padding: 2px;
    margin-bottom: 23px;
    line-height: 1.466667;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.icon-food-night{
	background:url(images/FOODandN.jpg) center right no-repeat;
	padding:0 16px 0 0;
	white-space:nowrap;
    width: 10px;
    height: 10px;
}

.module-content{
	border-left: 1px solid #d7d7d7;
	 overflow-y: auto;
	 width: 80%;
	 padding: 20px;
	 height: auto;
}

.module-content-container{
	white-space: initial;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.home-module-content-container{
	white-space: initial;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80%;
	flex: 0 0 80%;
	max-width: 80%;
}

.accomodation-dashboard-container{
	width: 65%;
    max-width: 65%;
    min-width: 65%;
}

.oj-fwk-icon-status-error, .oj-message-status-icon.oj-message-error-icon, .oj-progressstatus-error-icon {
    background-image: url(images/msgsIcon.png);
    background-size: 100% 100%;
    background-position: 0px 0px;
    width: 45px;
    height: 45px;
    margin-top: 50px;
}

html:not([dir="rtl"]) .oj-messages-general .oj-message-body, html:not([dir="rtl"]) .oj-messages-inline .oj-message-body {
    padding: 0px 20px 20px 75px;
}


.demo-page2-hide{
    display: none;
}

.demo-page1-hide{
    display: none;
}

.display-none-toggle{
    display: none;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}

a.oj-navigationlist-item-content .oj-navigationlist-item-label {
    color: brown;
}

h1 {
    font-size: 2.42857rem;
    font-weight: 200;
    color: brown;
}

.oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item:not(.oj-disabled) a.oj-tabbar-item-content .oj-tabbar-item-label {
    color: brown;
}

.color-brown{
    color: brown;
}

.oj-flex-item {
    flex: auto;
    box-sizing: border-box;
    color: brown;
}

.oj-message-category{
    display: none;
    visibility: hidden;
}

.oj-message-header{
    height: 15px;
}

.oj-selected > a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
    color: brown;
}

.oj-navigationlist-item.oj-selected {
    border-color: brown;
}

.oj-navigationlist-item.oj-hover:not(.oj-selected) {
    border-color: brown;
}

.oj-tabbar-horizontal.oj-tabbar-icon-only .oj-tabbar-item.oj-selected, .oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected {
    border-color: brown;
}


.accomodation-content-container{
    align-items: flex-start;
    padding-top: 50px;
}

#eventLink{
    color: brown;
}

a:visited {
    color: brown;
}






















